<% layout('layouts/boilerplate') %>

<div class="container my-5">
    <div class="row g-4">
        <% wishlist.products.forEach((item) => { %>
        <div class="col-md-3">
            <div class="card h-100 shadow-sm">
                <img src="<%= item.productId.image %>" alt="<%= item.productId.name %>" class="card-img-top" style="height: 200px; object-fit: cover;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title"><%= item.productId.name %></h5>
                    <p class="card-text text-primary fw-bold">Price: $<%= item.productId.price %></p>
                </div>
                <form action="/cart" method="post">
                    <input type="hidden" name="productId" value="<%= item.productId._id %>">
                    <button type="submit" class="btn btn btn-outline-dark w-100 mb-2">
                        <i class="fas fa-cart-plus"></i> Add to Cart
                    </button>
                </form>
                <a href="/wishlist/remove/<%= item.productId._id %>" class="btn btn-outline-danger w-100">
                    <i class="fas fa-heart-broken"></i> Remove from Wishlist
                </a>
            </div>
        </div>
        <% }) %>
    </div>
</div>